<nav class = "nav">

    <div class = "nav__container">

        <h1 class="nav__logo">Carleto</h1>

        <label class = "nav__icon" for="checkbox">
            <img src="../../../assets/bars.png" width ="20px" height="20px">      
        </label>

        <input class = "nav__checkbox" type="checkbox" id = "checkbox">

        <ul class ="nav__menu">
            <li class="nav__menu-item"><a href="">Inicio</a></li>
            <li class="nav__menu-item"><a href="">Acerca de</a></li>
            <li class="nav__menu-item"><a href="">Contacto</a></li>
        </ul>

    </div>
</nav>